@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'), local('Ubuntu-Regular'),
        url('ruta-a-tu-proyecto/fonts/ubuntu-v15-latin-regular.woff2') format('woff2'),
        url('ruta-a-tu-proyecto/fonts/ubuntu-v15-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu-Bold'), local('Ubuntu-Bold'),
        url('ruta-a-tu-proyecto/fonts/ubuntu-v15-latin-700.woff2') format('woff2'),
        url('ruta-a-tu-proyecto/fonts/ubuntu-v15-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --blue: #0d345b;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    height: 100vh;
    overflow: hidden;
    /* Agregar esta línea para quitar el scroll */
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-Left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

/* verifica de nuevo en el video por que no esta siendo verificado esta seccion */
.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    List-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    Line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    Line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* curva en la parte que se seleccione*/

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/*fin de la curva*/
/* main */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
    /*body-players podriamos utilizarlo para el de tabla de posiciones*/
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('/MenuDashboard/imgDashboard/logohockeyicon-512x512.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-color: #0d345b;*/
    /* esto solo es paraponer color*/

}

/*seccion para activar el main que hemos declarado en la parte de arriba que viene siendo parte del cuerpo de nuestro sistema*/
.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

/* esto es mi barra superior aunque es mas conocida como navbar*/
.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

/* viene siendo el que hace que mi barra de navegacion que esta en vertical se pueda reducir a x tamano*/
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
    margin-top: auto;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px rgba(0, 0, 0, 0.10);

}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}

.cardBox .card .cardName {
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .card .iconBx {
    font-size: 3.5em;
    color: var(--black2);
}

.cardBox .card:hover {
    background: var(--blue);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: var(--white);
}

/*fin de el diseno de mi dashboard*/
/*---------------------------------------------------------------*/
/*parte de responsividad en mi dashboard*/
@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }

    .navigation .active {
        left: 300px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main .active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }

    .recentOrders

    /*este apartado es de un listado de personas opcion de listado*/
        {
        overflow-x: auto;
    }

    .status.inprogress {
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }

    .cardHeader h2 {
        font-size: 20px;
    }

    .user {
        min-width: 40px;
    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active {
        width: 100%;
        left: 0;
    }

    .toggle {
        z-index: 10001;
    }

    .main.active .toggle {
        position: fixed;
        right: 0;
        left: initial;
        color: var(--white);
    }

    /* Estilos adicionales para hacer responsive tabla posiciones*/
    @media (max-width: 767px) {
        form {
            flex-direction: column;
        }

        input {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

/*fin de la parte resposiva de mi dashboard*/
/*body players*/
/*seccion para darle estilo al cuerpo de mi formulario 
establece algunas propiedades generales para el cuerpo de la pagina
define la fuente, elimina los margenes y rellenos predeterminados, y al mismo tiempo
utiliza flexbox para centrar los elementos tanto horizontal como verticalmente, oculta el desbordamiento
y establece la altura al 100% de vantana y por eso usamos el 100vh*/
.body-players {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    /* Establecer un tamaño de fuente base */
    margin: 0;
    /*padding: 0;*/
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    /* O desactiva completamente overflow: hidden; */
    min-height: 100vh;
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input,
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select-container {
    position: relative;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.select-options option {
    padding: 10px;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilo para el botón */
#miBoton {
    margin-top: 10.5px;
    margin-left: 1.4%;
    padding: .5rem 1rem;
    background-color: #006b21;
    color: #fff;
    border: none;
    border-radius: .4rem;
    border-style: double;
    cursor: pointer;
    transition: background-color 0.3s ease;
    

}
#miBoton:hover {
    background-color: #006b21;
    /* Cambia el color de fondo al pasar el ratón */
    box-shadow: 0 3px 0 #006b21;
   
    transform: translateY(-2px);
}



/*find del body-players*/
/*inicio de responsividad de mi formulario*/
/*responsividad del formulario*/
@media only screen and (max-width: 600px) {

    /* Estilos para pantallas pequeñas, como celulares */
    .form-container {
        padding: 10px;
        /* Ajusta el relleno para pantallas más pequeñas */
        /* width: 80%; /* Ocupar todo el ancho */
    }

    input,
    select {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
        /* Tamaño de fuente reducido para pantallas más pequeñas */
    }
}


/*FIN Estilo para los botones de envío y hover*/
/********************************************/
/*inicio de la seccion de mi tabla lista de jugadores*/
body-listplayer {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main.table {
    width: 75vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    margin: auto;
    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 5%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    position: relative;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
    margin: 0 10px;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;

    text-align: center;
    font-size: 1rem;

    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow {
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow {
    transform: rotate(180deg);
}

thead th.active,
tbody td.active {
    color: #6c00bd;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover {
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;

    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;

    box-shadow: 0 .2rem .5rem #0004;

    transition: .2s;
}

.export__file input:checked+.export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label {
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type {
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover {
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img {
    width: 2rem;
    height: auto;
}
/*responsive*/
/* Estilos base para pantallas pequeñas */
@media only screen and (min-width: 480px) and (max-width: 1080px) {
    .table__header .input-group {
        width: 45%;
    }
 
    .table__body {
        width: 95%;
        max-height: calc(89% - 1.6rem);
    }
 
    .export__file .export__file-btn {
        display: inline-block;
        width: 2rem;
        height: 2rem;
    }
 }
 
 /* Estilos para pantallas medianas */
 @media only screen and (min-width: 768px) and (max-width: 1080px) {
    .table__header .input-group {
        width: 50%;
    }
 
    .table__body {
        width: 90%;
        max-height: calc(85% - 1.6rem);
    }
 
    .export__file .export__file-btn {
        display: inline-block;
        width: 3rem;
        height: 3rem;
    }
 }
 
 /* Estilos para pantallas grandes */
 @media only screen and (min-width: 1024px) {
    .table__header .input-group {
        width: 60%;
    }
 
    .table__body {
        width: 85%;
        max-height: calc(80% - 1.6rem);
    }
 
    .export__file .export__file-btn {
        display: inline-block;
        width: 4rem;
        height: 4rem;
    }
 }
 /*fin de todo el bloque de tabla players junto con
 la resposividad*/

/*--------------------------------------------*/
/*MODAL formulario*/
/*parte de modal agregado en el readeplayer*/
/*----------------------------------------------*/
#playerModal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);    
}


.modalcontent {
    margin: auto;
    margin-top: 4.5%;
    background-color: #f2f2f2;
    padding: 5.5px;
    border: 5px solid #888;
    width: 35.5%;
    max-width: 600px;
    position: relative;
    border-radius: 25px;
    border-style: double;

}

.modalcontent header {
    font-family: 'Arial', sans-serif;
    padding-top: 5.5%;
    font-size: 18px;
    text-align: center;
    color: #101010;
    /* Elimina el background-color de aquí */
    border-radius: 5px;
    /* Hereda el fondo del modalcontent */
    background-color: inherit;
    top: 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
    /* Cambia a rojo cuando se pasa el cursor */
}

#playerModal p {
    margin-top: 8px;
    text-align: center;
}

#playerModal label {
    top: 0;
    margin-top: 4.5px;
}
#playerModal .modalcontent {
    top: 0;
    justify-content: center;
}
/*seccio de responsividad*/
/* Estilos base para pantallas pequeñas */
@media only screen and (min-width: 480px) and (max-width: 1080px) {
  .modalcontent{
    width: 75%;
    margin-top: 4.5%;
  }
 }
 
 /* Estilos para pantallas medianas */
 @media only screen and (min-width: 600px)  and (max-width: 1080px) {
    .modalcontent{
        width: 50%;
        margin-top: 1.95%;
      }
 }
 
 /* Estilos para pantallas grandes */
 @media only screen  and (min-width: 1024px) {
    .modalcontent{
        width: 35%;
        margin-top: 1.85%;
      }
 }
 /*adicionando mas responsividad por si a acaso salen pantallas de este tamaño*/
 
 @media only screen  and (min-width: 700px){
    .modalcontent{
        width: 50%;
        margin-top: 1.85%;
      }
 }
 @media only screen  and (min-width: 800px){
    .modalcontent{
        width: 35%;
        margin-top: 1.85%;
      }
 }

/*fin de la parte de modal formulario
/*----------------------------------------------------------------*/
